#footer {  
  @include background();
  background-position: left bottom;
  background-image:url('images/overlay4.svg');
  
  padding: 60px 0 40px;
  
  #elevator-btn{
    margin: 0 auto;
    text-align: center;
    a{
      color: #777;
      font-size: 18px;
      font-weight: 500;
      i{
        display: block;
        line-height: 0.2;
      }
      &:hover{
        text-decoration: none;
      }
    }
  }
  
  .copyright {
    font-size: 18px;
    color: #777;
    list-style: none;
    margin: 0;
    padding: 10px 0 0;

    a{
      color: $jsdc-y - #222;
      &:hover{
        color: $jsdc-y;
        text-decoration: none;
      }
    }
  }
}
