$screen-xs: 425px;
$screen-sm: 768px;
$screen-md: 992px;

/* Medium devices (tables, 425px and up) */
@media (min-width: $screen-xs) {

  /* Speaker */
  #speakers{ 
    .speakers-container{
      padding: 40px;
    }
  }
}

/* Medium devices (tables, 768px and up) */
@media (min-width: $screen-sm) {
  
  #header {
    
    .title {
      height: 55vh;
      padding-top: 15vh;
      
      h2, span {
        font-size: 32px;
      } 
    }
    
    .cd-headline {
      font-size: 20px;
      margin-top: 0px;
    }
    
    .sub-title{
      top: 70vh;
    }
    
    .actions {
      top: 85vh;
    }
  }
  
  /* News */
  #news{
    padding: $pt_table;
    
    .news-wrapper{
      padding: 60px 40px 40px;

      .news-container{
        display: table;
        
        .news{
          display: table-row;
          border-spacing: 5px;
          
          .date{
            display: table-cell;
            vertical-align: middle;
            width: 80px;
            span{
              display: block;
            }
          }
          
          .news-content{
            display: table-cell !important;
            padding: 0 20px 5px 20px;
          
            .news-title{
              text-align: left !important;
              line-height: 2;
              padding: 0;
            }
          }
        }
      }
    }
    #news-line{
      &:after {
        height: 80px;
      }
    }
  }
  
  /* About */
  #about{
    padding: $p_table;

    #what-is-jsdc{
      padding: 60px 40px 40px;
    }
    
    #about-line{
      &:after {
        height: 80px;
      }
    }
  }
  
  /* Location */
  #location{
    padding: $p_table;
    
    .information{
      padding-left: 20px
    }
    
    .major, .info, .address {
      text-align: left;
    }
    
    .info{
      font-size: 24px;
      
      &.date{
        i{
          margin-right: 20px;
        }
      }
      
      &.spot{
        i{
          margin: 0 22px 0 5px;
        }
      }
    }
    .address{
      font-size: 18px;
      padding-left: 40px;
    }
  }
  
  /* Speaker */
  #speakers{
    padding: $pt_table;

    .speaker-nav{
      .owl-prev, .owl-next{
        width: 5% !important;
      }
      .speaker-button{
        width: 90% !important;
      }
    }
  }
  
  /* Sponsor */
  #sponsor{
    padding: $pt_table;
  }

  /* Activity */
  #activity{
    padding: $pt_table;
    padding-top: 60px;
    
    .activity-container{
      #activity-carousel{
        .item{
          padding: 40px;
          width: 90%;
          min-height: 600px;
          
          .activity-img{
            width: 100%;
            height: 300px;
          }
          .activity-description{
            .title{
              font-size: 24px;
            }
            .content{
              font-size: 18px;
            }
          }
        }
      }
      .activity-nav{
        .owl-prev{
          left: 0;
        }
        .owl-next{
          right: 0;
        }
      }
    }
  }
  
  /* Staff */
  #staffs{
    padding: $p_table;
    
    .staff-container{
      padding: 0;
      padding-top: 20px;
      
      #tabs{
        
        ul li{
          width: 21%;
          margin: 0 2%;
          
          a{
            width: 100%;
            text-align: center;
            color: white;
            font-size: 18px;
          }
          + li {
            margin-top: 0;
          }
        }
      }
    }
  }
  
  #subscribe{
    .subscribe-button{
      margin-top: 0 !important;
    }
  }
  
  .navbar .navbar-collapse{
    
    .navbar-nav li{
      
      width: 100px;
      
      &:nth-child(2n + 1) {
        background-color: rgba(#fff, 1)
      }
    }
  }
  
  #footer{
    padding: 80px 0 40px;
  }
  
  main.agenda-page{
  
    #agenda-list{
      
      .agenda-container{
      
        #tabs{
          
          ul{
            padding: 1em 1.4em 0;
            
            li{
              width: 49%;
              margin: 20px 0;
              
              &:nth-of-type(2){
                margin-top: 20px;
                margin-left: 2%;
              }
            }
            
            a{
              font-size: 20px;
              padding: 15px 0;
            }
          }
          
          .ui-tabs-panel{
            padding: 1em 1.4em;
          }
        }
      }
    }
  }
  
}


/* Large devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
  
  /* Header */
  #header {
    
    .title{
      height: 52vh;
      padding-top: 15vh;
    }
    
    .sub-title{
      top: 62vh;
      font-size: 24px;
      line-height: 1.8;
    }
    
    .actions {
      top: 80vh;
    }
  }
  
  /* News */
  #news{
    padding-top: 120px;
    
    .news-wrapper{
      padding: 60px 80px;
      
      .major{
        h2{
          font-size: 32px;
        }
      }
    }
    
    #news-line{
      &:after {
        height: 120px;
      }
    }
  }
  
  /* About */
  #about{
    padding-top: 120px;
    
    p{
      font-size: 18px;
      margin-bottom: 0;
      padding-right: 5%;
    }
    
    #what-is-jsdc{
      padding: 80px;

      .major{
        text-align: left;
        h2{
          font-size: 32px;
        }
      }
    }

    #about-jsdc{
      margin-top: 80px;
      
      .major {
        h2{
          font-size: 32px;
        }
      }

      p{
        padding: 0 5%;
        font-size: 20px;
        line-height: 2.5;
      }
    }
    
    #about-line{
      &:after {
        height: 120px;
      }
    }
  }
  
  /* Speaker */
  #speakers{
    
    .major {
      h2{
        font-size: 32px;
      }
    }
    .speakers-container{
      padding: 40px;
    }
    
    .agenda-button{
      margin-top: 80px;
    }
    #agenda-line{
      &:after {
        height: 80px;
      }
    }
  }
  
  /* Sponsor */
  #sponsor{
    
    .major {
      h2{
        font-size: 32px;
      }
    }
  }
  
  /* Location */
  #location{
    
    .major {
      h2{
        font-size: 32px;
      }
    }
  }
  
  /* Activity */
  #activity{
    
    .major {
      h2{
        font-size: 32px;
      }
    }
    
    .activity-container{
      #activity-carousel{
        .item{
          min-height: 300px;
          
          .activity-img{
            width: 100%;
            height: 300px;
          }
        }
      }
    }
  }
  
  /* Staff */
  #staffs{
    
    .major {
      h2{
        font-size: 32px;
      }
    }
    
    .staff-container{
      
      #staff-carousel{
          
        .item{

          .staff-img{
            height: auto;
            width: auto;
            margin: 0 auto;
            
            .staff{
              width: 20%;
              
            }
          }
        }
      }
    }
  }
}
