$gold-color: #ffc525;
$sliver-color: #a1a1a1;
$bronze-color: #c37141;

.sponsor {
	padding: 20px;
	margin-bottom: 20px;

	h2{
		color: #555;
		font-size: 28px;
		text-align: center;
		margin-bottom: 20px;
	}

	p{
		color: #777;
		font-size: 16px;
		line-height: 1.8;
		margin-bottom: 0;
	}

	.image {
		display: block;
		margin: auto;
		margin-bottom: 20px;
	}
}

main.sponsors-page{

	.sponsor-header{
		text-align: center;
		font-size: 28px;
	}

	.sponsor-golden{
		.sponsor-header{
			color: $gold-color - #111;
		}

		.sponsor {
			border: 1px solid $gold-color;
			border-radius: 4px;
		}
	}

	.sponsor-sliver{
		.sponsor-header{
			color: $sliver-color - #111;
		}

		.sponsor {
			border: 1px solid $sliver-color;
			border-radius: 4px;
		}
	}

	.sponsor-bronze{
		.sponsor-header{
			color: $bronze-color - #111;
		}

		.sponsor {
			border: 1px solid $bronze-color;
			border-radius: 4px;
		}
	}

	.sponsor-thanks{
		.sponsor-header{
			color: #555;
		}

		.sponsor {
			border: 1px solid #777;
			border-radius: 4px;
		}
	}

	article + article{
		margin-top: 40px;
	}
}

