extends ./layout/_layout.jade

block content

  main.main-page
  
    section#header
      .container
        .inner
          .title
            img.image.img-responsive.lazy(itemprop="image" data-original='./dist/images/jsdc-logo.png', alt='JSDC 2016')
            h2 JavaScript 
              span 核心概念與整合實戰
          .cd-headline.letters.type
            span Build 
            span.cd-words-wrapper.waiting
              b.is-visible Anything 
              b Website 
              b Webapp 
              b Mobile App 
              b Arduino 
              b Raspberry Pi 
              b Robot 
            span with JavaScript
          
          .sub-title
            p 10 月 22 - 23 日，強勢登場
            span
              i.fa.fa-map-marker
              | 中央研究院 人文社會科學館
              
          ul.actions
            li
              a.button#discover(href='#news') Discover

    include ./partials/_nav

    include ./partials/_news

    section#speakers
      #speakers-line
      .container
        .row
          .col-xs-12.text-center
            header.major
              h2 講者陣容
          .col-xs-12
            .speakers-container
              .owl-carousel#speaker-carousel
                .item
                  img.avatar.owl-lazy(data-src="./dist/images/amei.jpg", alt="amei")
                  .introduction
                    h4.speaker-name Amei Chi
                    p.project 賣萌集團創辦人
                    .link
                      a(href="#" target="_blank")
                        i.fa.fa-link.fa-2x
                      a(href="#" target="_blank")
                        i.fa.fa-github.fa-2x
                        
                .item
                  img.avatar.owl-lazy(data-src="./dist/images/amei.jpg", alt="amei")
                  .introduction
                    h4.speaker-name Amei Chi
                    p.project 賣萌集團創辦人
                    .link
                      a(href="#" target="_blank")
                        i.fa.fa-link.fa-2x
                      a(href="#" target="_blank")
                        i.fa.fa-github.fa-2x
                        
                .item
                  img.avatar.owl-lazy(data-src="./dist/images/amei.jpg", alt="amei")
                  .introduction
                    h4.speaker-name Amei Chi
                    p.project 賣萌集團創辦人
                    .link
                      a(href="#" target="_blank")
                        i.fa.fa-link.fa-2x
                      a(href="#" target="_blank")
                        i.fa.fa-github.fa-2x
                        
                .item
                  img.avatar.owl-lazy(data-src="./dist/images/amei.jpg", alt="amei")
                  .introduction
                    h4.speaker-name Amei Chi
                    p.project 賣萌集團創辦人
                    .link
                      a(href="#" target="_blank")
                        i.fa.fa-link.fa-2x
                      a(href="#" target="_blank")
                        i.fa.fa-github.fa-2x
                        
                .item
                  img.avatar.owl-lazy(data-src="./dist/images/amei.jpg", alt="amei")
                  .introduction
                    h4.speaker-name Amei Chi
                    p.project 賣萌集團創辦人
                    .link
                      a(href="#" target="_blank")
                        i.fa.fa-link.fa-2x
                      a(href="#" target="_blank")
                        i.fa.fa-github.fa-2x
                        
              .speaker-nav
                a.speaker-button.c-bold(href="./speakers.html" target="_blank") 講者列表
        
          .col-xs-12
            #agenda-line
            a.agenda-button.c-bold(href="./agenda.html" target="_blank")
              i.fa.fa-bolt 
              | 議程表
              i.fa.fa-bolt

    section#sponsor
      .container
        .row
          .col-xs-12.text-center
            header.major
              h2 贊助夥伴
          
        .row
          .part_1
            .col-xs-12
              .sponsor-title
                h3 金級
            
            .col-xs-12
              .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='LINE', data-balloon='LINE Corporation 總部位於日本。自2013年4月1日起，NHN Japan Corporation已將公司更名為「LINE Corporation」，並將負責「LINE」、「NAVER matome」及「livedoor」網頁服務業務的營運及供應。在2011年6月創立LINE的LINE Corporation，日後的業務核心將會著重於LINE服務上，除了會積極推動於全球各地進一步擴展服務，並會加快腳步發展LINE平台服務。')
                a(href="#", target='_blank')
                  img(src="./dist/images/logo.png", alt="")
          
          .part_2
            .col-xs-12
              .sponsor-title
                h3 銀級
            .col-xs-12.col-sm-6.col-md-4
              .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
                a(href="#", target='_blank')
                  img(src="./dist/images/logo.png", alt="")
            .col-xs-12.col-sm-6.col-md-4
              .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
                a(href="#", target='_blank')
                  img(src="./dist/images/logo.png", alt="")
            .col-xs-12.col-sm-6.col-md-4
              .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
                a(href="#", target='_blank')
                  img(src="./dist/images/logo.png", alt="")

          .part_3
            .col-xs-12
              .sponsor-title
                h3 銅級
            .col-xs-12.col-sm-6.col-md-4
              .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
                a(href="#", target='_blank')
                  img(src="./dist/images/logo.png", alt="")
            .col-xs-12.col-sm-6.col-md-4
              .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
                a(href="#", target='_blank')
                  img(src="./dist/images/logo.png", alt="")
            .col-xs-12.col-sm-6.col-md-4
              .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
                a(href="#", target='_blank')
                  img(src="./dist/images/logo.png", alt="")
          
          .part_4
            .col-xs-12
              .sponsor-title
                h3 特別感謝
                
            .col-xs-12.col-sm-6.col-md-3
              .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
                a(href="#", target='_blank')
                  img(src="./dist/images/logo.png", alt="")
            .col-xs-12.col-sm-6.col-md-3
              .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
                a(href="#", target='_blank')
                  img(src="./dist/images/logo.png", alt="")
            .col-xs-12.col-sm-6.col-md-3
              .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
                a(href="#", target='_blank')
                  img(src="./dist/images/logo.png", alt="")
            .col-xs-12.col-sm-6.col-md-3
              .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
                a(href="#", target='_blank')
                  img(src="./dist/images/logo.png", alt="")


    section#activity
      .container
        .row
          .col-xs-12.text-center
            header.major
              h2 活動
          .col-xs-12
            .activity-container
              .owl-carousel#activity-carousel
                .item
                  .row
                    .col-xs-12.col-md-5
                      .activity-img
                        img.owl-lazy(data-src="./dist/images/jsdc-t-shirt.jpg", alt="JSDC T-Shirt")
                    .col-xs-12.col-md-7
                      .activity-description
                        h4.title JSDC T-Shirt
                        p.content 「Build anything with javascript」是JSDC2015的主題， 而「建構」就是此次主視覺的圖像核心， 具像與抽象的物件交錯，表達程式語言的無限可能，而中間的積木形，即是活動名稱JSDC字母的轉化， 它能夠組成亦能拆解，收放自如間建造世界。
                
                .item
                  .row
                    .col-xs-12.col-md-5
                      .activity-img
                        img.owl-lazy(data-src="./dist/images/amei.jpg", alt="JSDC T-Shirt")
                    .col-xs-12.col-md-7
                      .activity-description
                        h4.title JSDC 吉祥物登場！
                        p.content 今年我們很榮幸請到傲嬌的 Amei 擔任本年度的吉祥物！和它打卡即可兌換精美贈品。
                        
              .activity-nav
                        
    //- section#subscribe(style="margin-top: 80px;")
    //-   .container
    //-     form.form-inline
    //-       .row
    //-         .col-xs-12.col-sm-7.col-md-6.col-md-offset-1
    //-           input.form-control(type='email', placeholder='輸入 Email')
    //-         .col-xs-12.col-sm-5.col-md-4
    //-           input.form-control.subscribe-button(type='button', value='訂閱 JSDC 最新消息')

    script.
      (function($) {
        if ($('#news').length){
          $(document).scroll(function () {
            var dist = $('#news').offset().top;
            var y = $(this).scrollTop();

            if (y > dist) {
                $('.navbar').addClass('block');
            } else {
                $('.navbar').removeClass('block');
            }
          });
        }
      })(jQuery);