extends ./layout/_layout.jade

block title
  title 講者｜JSDC 2016

block content

  include ./partials/_nav

  main.spaekers-page

    section#sub-header
      .container
        .inner
          header.major.text-center
            h2 JSDC 2016 講者

    section#speakers-list
      .container
        .row
          .col-xs-12.col-sm-6.col-md-4
            .speaker
              .avatar(data-balloon-pos='down', data-balloon-length='large', data-title='Amei', data-balloon='史上最強碼貓，會刪資料庫還會關機，平常最喜歡賣萌。')
                img.lazy(data-original="./dist/images/amei.jpg", alt="amei")
              .introduction
                h4.speaker-name Amei Chi
                p.project 賣萌集團創辦人
                .link
                  a(href="#" target="_blank")
                    i.fa.fa-link
                  a(href="#" target="_blank")
                    i.fa.fa-github

          .col-xs-12.col-sm-6.col-md-4
            .speaker
              .avatar(data-balloon-pos='down', data-balloon-length='large', data-title='', data-balloon='')
                img.lazy(data-original="./dist/images/amei.jpg", alt="amei")
              .introduction
                h4.speaker-name Amei Chi
                p.project 賣萌集團創辦人
                .link
                  a(href="#" target="_blank")
                    i.fa.fa-link
                  a(href="#" target="_blank")
                    i.fa.fa-github

          .col-xs-12.col-sm-6.col-md-4
            .speaker
              .avatar(data-balloon-pos='down', data-balloon-length='large', data-title='', data-balloon='')
                img.lazy(data-original="./dist/images/amei.jpg", alt="amei")
              .introduction
                h4.speaker-name Amei Chi
                p.project 賣萌集團創辦人
                .link
                  a(href="#" target="_blank")
                    i.fa.fa-link
                  a(href="#" target="_blank")
                    i.fa.fa-github

          .col-xs-12.col-sm-6.col-md-4
            .speaker
              .avatar(data-balloon-pos='down', data-balloon-length='large', data-title='', data-balloon='')
                img.lazy(data-original="./dist/images/amei.jpg", alt="amei")
              .introduction
                h4.speaker-name Amei Chi
                p.project 賣萌集團創辦人
                .link
                  a(href="#" target="_blank")
                    i.fa.fa-link
                  a(href="#" target="_blank")
                    i.fa.fa-github

          .col-xs-12.col-sm-6.col-md-4
            .speaker
              .avatar(data-balloon-pos='down', data-balloon-length='large', data-title='', data-balloon='')
                img.lazy(data-original="./dist/images/amei.jpg", alt="amei")
              .introduction
                h4.speaker-name Amei Chi
                p.project 賣萌集團創辦人
                .link
                  a(href="#" target="_blank")
                    i.fa.fa-link
                  a(href="#" target="_blank")
                    i.fa.fa-github

          .col-xs-12.col-sm-6.col-md-4
            .speaker
              .avatar(data-balloon-pos='down', data-balloon-length='large', data-title='', data-balloon='')
                img.lazy(data-original="./dist/images/amei.jpg", alt="amei")
              .introduction
                h4.speaker-name Amei Chi
                p.project 賣萌集團創辦人
                .link
                  a(href="#" target="_blank")
                    i.fa.fa-link
                  a(href="#" target="_blank")
                    i.fa.fa-github

          .col-xs-12.col-sm-6.col-md-4
            .speaker
              .avatar(data-balloon-pos='down', data-balloon-length='large', data-title='', data-balloon='')
                img.lazy(data-original="./dist/images/amei.jpg", alt="amei")
              .introduction
                h4.speaker-name Amei Chi
                p.project 賣萌集團創辦人
                .link
                  a(href="#" target="_blank")
                    i.fa.fa-link
                  a(href="#" target="_blank")
                    i.fa.fa-github
                    
          .col-xs-12.col-sm-6.col-md-4
            .speaker
              .avatar(data-balloon-pos='down', data-balloon-length='large', data-title='', data-balloon='')
                img.lazy(data-original="./dist/images/amei.jpg", alt="amei")
              .introduction
                h4.speaker-name Amei Chi
                p.project 賣萌集團創辦人
                .link
                  a(href="#" target="_blank")
                    i.fa.fa-link
                  a(href="#" target="_blank")
                    i.fa.fa-github

          .col-xs-12.col-sm-6.col-md-4
            .speaker
              .avatar(data-balloon-pos='down', data-balloon-length='large', data-title='', data-balloon='')
                img.lazy(data-original="./dist/images/amei.jpg", alt="amei")
              .introduction
                h4.speaker-name Amei Chi
                p.project 賣萌集團創辦人
                .link
                  a(href="#" target="_blank")
                    i.fa.fa-link
                  a(href="#" target="_blank")
                    i.fa.fa-github
                    
          .col-xs-12.col-sm-6.col-md-4
            .speaker
              .avatar(data-balloon-pos='down', data-balloon-length='large', data-title='', data-balloon='')
                img.lazy(data-original="./dist/images/amei.jpg", alt="amei")
              .introduction
                h4.speaker-name Amei Chi
                p.project 賣萌集團創辦人
                .link
                  a(href="#" target="_blank")
                    i.fa.fa-link
                  a(href="#" target="_blank")
                    i.fa.fa-github

    section#agenda
      #agenda-line
      .container
        .row
          .col-xs-12
            a.agenda-button.c-bold(href="#" target="_blank")
              i.fa.fa-bolt 
              | 議程表
              i.fa.fa-bolt

    script.
      (function($) {
        
        $('#nav-speakers').addClass('active');

        if ($('#speakers-list').length){
          $(document).scroll(function () {
            var dist = $('#speakers-list').offset().top;
            var y = $(this).scrollTop();

            if (y > dist) {
                $('.navbar').addClass('block');
            } else {
                $('.navbar').removeClass('block');
            }
          });
        }
      })(jQuery);