extends ./layout/_layout.jade

block title
  title 贊助夥伴｜JSDC 2016

block content

  include ./partials/_nav

  main.sponsors-page

    section#sub-header
      .container
        .inner
          header.major.text-center
            h2 JSDC 2016 贊助夥伴

    section#sponsor
      .container

        article.sponsor-golden
          .row
            .col-xs-12
              h2.sponsor-header 金級

            .col-xs-12
              .sponsor
                .logo
                  img.image.lazy(data-original="./dist/images/logo.png", alt="")
                .info
                  h2 LINE
                  p LINE Corporation 總部位於日本。自2013年4月1日起，NHN Japan Corporation已將公司更名為「LINE Corporation」，並將負責「LINE」、「NAVER matome」及「livedoor」網頁服務業務的營運及供應。在2011年6月創立LINE的LINE Corporation，日後的業務核心將會著重於LINE服務上，除了會積極推動於全球各地進一步擴展服務，並會加快腳步發展LINE平台服務。

        article.sponsor-sliver
          .row
            .col-xs-12
              h2.sponsor-header 銀級

            .col-xs-12.col-sm-6
              .sponsor
                img.image.lazy(data-original="./dist/images/logo.png", alt="")
                h2 LINE
                p LINE Corporation 總部位於日本。自2013年4月1日起，NHN Japan Corporation已將公司更名為「LINE Corporation」，並將負責「LINE」、「NAVER matome」及「livedoor」網頁服務業務的營運及供應。在2011年6月創立LINE的LINE Corporation，日後的業務核心將會著重於LINE服務上，除了會積極推動於全球各地進一步擴展服務，並會加快腳步發展LINE平台服務。

            .col-xs-12.col-sm-6
              .sponsor
                img.image.lazy(data-original="./dist/images/logo.png", alt="")
                h2 LINE
                p LINE Corporation 總部位於日本。自2013年4月1日起，NHN Japan Corporation已將公司更名為「LINE Corporation」，並將負責「LINE」、「NAVER matome」及「livedoor」網頁服務業務的營運及供應。在2011年6月創立LINE的LINE Corporation，日後的業務核心將會著重於LINE服務上，除了會積極推動於全球各地進一步擴展服務，並會加快腳步發展LINE平台服務。

        article.sponsor-bronze
          .row
            .col-xs-12
              h2.sponsor-header 銅級

            .col-xs-12.col-sm-6.col-md-4
              .sponsor
                img.image.lazy(data-original="./dist/images/logo.png", alt="")
                h2 LINE
                p LINE Corporation 總部位於日本。自2013年4月1日起，NHN Japan Corporation已將公司更名為「LINE Corporation」，並將負責「LINE」、「NAVER matome」及「livedoor」網頁服務業務的營運及供應。在2011年6月創立LINE的LINE Corporation，日後的業務核心將會著重於LINE服務上，除了會積極推動於全球各地進一步擴展服務，並會加快腳步發展LINE平台服務。

            .col-xs-12.col-sm-6.col-md-4
              .sponsor
                img.image.lazy(data-original="./dist/images/logo.png", alt="")
                h2 LINE
                p LINE Corporation 總部位於日本。自2013年4月1日起，NHN Japan Corporation已將公司更名為「LINE Corporation」，並將負責「LINE」、「NAVER matome」及「livedoor」網頁服務業務的營運及供應。在2011年6月創立LINE的LINE Corporation，日後的業務核心將會著重於LINE服務上，除了會積極推動於全球各地進一步擴展服務，並會加快腳步發展LINE平台服務。

            .col-xs-12.col-sm-6.col-md-4
              .sponsor
                img.image.lazy(data-original="./dist/images/logo.png", alt="")
                h2 LINE
                p LINE Corporation 總部位於日本。自2013年4月1日起，NHN Japan Corporation已將公司更名為「LINE Corporation」，並將負責「LINE」、「NAVER matome」及「livedoor」網頁服務業務的營運及供應。在2011年6月創立LINE的LINE Corporation，日後的業務核心將會著重於LINE服務上，除了會積極推動於全球各地進一步擴展服務，並會加快腳步發展LINE平台服務。

        article.sponsor-thanks
          .row
            .col-xs-12
              h2.sponsor-header 特別感謝

            .col-xs-12.col-sm-6.col-md-4
              .sponsor
                img.image.lazy(data-original="./dist/images/logo.png", alt="")
                h2 LINE
                p LINE Corporation 總部位於日本。自2013年4月1日起，NHN Japan Corporation已將公司更名為「LINE Corporation」，並將負責「LINE」、「NAVER matome」及「livedoor」網頁服務業務的營運及供應。在2011年6月創立LINE的LINE Corporation，日後的業務核心將會著重於LINE服務上，除了會積極推動於全球各地進一步擴展服務，並會加快腳步發展LINE平台服務。

            .col-xs-12.col-sm-6.col-md-4
              .sponsor
                img.image.lazy(data-original="./dist/images/logo.png", alt="")
                h2 LINE
                p LINE Corporation 總部位於日本。自2013年4月1日起，NHN Japan Corporation已將公司更名為「LINE Corporation」，並將負責「LINE」、「NAVER matome」及「livedoor」網頁服務業務的營運及供應。在2011年6月創立LINE的LINE Corporation，日後的業務核心將會著重於LINE服務上，除了會積極推動於全球各地進一步擴展服務，並會加快腳步發展LINE平台服務。

            .col-xs-12.col-sm-6.col-md-4
              .sponsor
                img.image.lazy(data-original="./dist/images/logo.png", alt="")
                h2 LINE
                p LINE Corporation 總部位於日本。自2013年4月1日起，NHN Japan Corporation已將公司更名為「LINE Corporation」，並將負責「LINE」、「NAVER matome」及「livedoor」網頁服務業務的營運及供應。在2011年6月創立LINE的LINE Corporation，日後的業務核心將會著重於LINE服務上，除了會積極推動於全球各地進一步擴展服務，並會加快腳步發展LINE平台服務。


    script.
      (function($) {
        
        $('#nav-sponsors').addClass('active');

        if ($('#sponsor').length){
          $(document).scroll(function () {
            var dist = $('#sponsor').offset().top;
            var y = $(this).scrollTop();

            if (y > dist) {
                $('.navbar').addClass('block');
            } else {
                $('.navbar').removeClass('block');
            }
          });
        }
      })(jQuery);