extends ./layout/_layout.jade

block title
  title 贊助夥伴｜JSDC 2016

block content

  include ./partials/_nav

  main.agenda-page

    section#agenda-header
      .container
        .inner
          header.major.text-center
            h2 JSDC 2016 贊助夥伴

    section#sponsor
      .container
          
        .row
          .part_1
            
            .col-xs-12
              p 金級
            .col-xs-12
              .sponsor.sponsor-gold
                .col-xs-12.col-md-5
                  img.image.img-responsive.lazy(data-original="./dist/images/logo.png", alt="")
                .col-xs-12.col-md-7
                  header.major
                    h2 LINE
                  p LINE Corporation 總部位於日本。自2013年4月1日起，NHN Japan Corporation已將公司更名為「LINE Corporation」，並將負責「LINE」、「NAVER matome」及「livedoor」網頁服務業務的營運及供應。在2011年6月創立LINE的LINE Corporation，日後的業務核心將會著重於LINE服務上，除了會積極推動於全球各地進一步擴展服務，並會加快腳步發展LINE平台服務。
                .clearfix
            .col-xs-12
              p 銀級
            .col-xs-6
              .sponsor.sponsor-silver
                .col-xs-12
                  img.image.img-responsive.lazy(data-original="./dist/images/logo.png", alt="")
                  header.major
                    h2 LINE
                  p LINE Corporation 總部位於日本。自2013年4月1日起，NHN Japan Corporation已將公司更名為「LINE Corporation」，並將負責「LINE」、「NAVER matome」及「livedoor」網頁服務業務的營運及供應。在2011年6月創立LINE的LINE Corporation，日後的業務核心將會著重於LINE服務上，除了會積極推動於全球各地進一步擴展服務，並會加快腳步發展LINE平台服務。
                .clearfix
            .col-xs-6
              .sponsor.sponsor-silver
                .col-xs-12
                  img.image.img-responsive.lazy(data-original="./dist/images/logo.png", alt="")
                  header.major
                    h2 LINE
                  p LINE Corporation 總部位於日本。自2013年4月1日起，NHN Japan Corporation已將公司更名為「LINE Corporation」，並將負責「LINE」、「NAVER matome」及「livedoor」網頁服務業務的營運及供應。在2011年6月創立LINE的LINE Corporation，日後的業務核心將會著重於LINE服務上，除了會積極推動於全球各地進一步擴展服務，並會加快腳步發展LINE平台服務。
                .clearfix
            .col-xs-12
              p 銅級
            .col-xs-4
              .sponsor.sponsor-bronze
                .col-xs-12
                  img.image.img-responsive.lazy(data-original="./dist/images/logo.png", alt="")
                  header.major
                    h2 LINE
                  p LINE Corporation 總部位於日本。自2013年4月1日起，NHN Japan Corporation已將公司更名為「LINE Corporation」，並將負責「LINE」、「NAVER matome」及「livedoor」網頁服務業務的營運及供應。在2011年6月創立LINE的LINE Corporation，日後的業務核心將會著重於LINE服務上，除了會積極推動於全球各地進一步擴展服務，並會加快腳步發展LINE平台服務。
                .clearfix
            .col-xs-4
              .sponsor.sponsor-bronze
                .col-xs-12
                  img.image.img-responsive.lazy(data-original="./dist/images/logo.png", alt="")
                  header.major
                    h2 LINE
                  p LINE Corporation 總部位於日本。自2013年4月1日起，NHN Japan Corporation已將公司更名為「LINE Corporation」，並將負責「LINE」、「NAVER matome」及「livedoor」網頁服務業務的營運及供應。在2011年6月創立LINE的LINE Corporation，日後的業務核心將會著重於LINE服務上，除了會積極推動於全球各地進一步擴展服務，並會加快腳步發展LINE平台服務。
                .clearfix
            .col-xs-4
              .sponsor.sponsor-bronze
                .col-xs-12
                  img.image.img-responsive.lazy(data-original="./dist/images/logo.png", alt="")
                  header.major
                    h2 LINE
                  p LINE Corporation 總部位於日本。自2013年4月1日起，NHN Japan Corporation已將公司更名為「LINE Corporation」，並將負責「LINE」、「NAVER matome」及「livedoor」網頁服務業務的營運及供應。在2011年6月創立LINE的LINE Corporation，日後的業務核心將會著重於LINE服務上，除了會積極推動於全球各地進一步擴展服務，並會加快腳步發展LINE平台服務。
                .clearfix
            .col-xs-12
              p 特別感謝
            .col-xs-4
              .sponsor
                .col-xs-12
                  img.image.img-responsive.lazy(data-original="./dist/images/logo.png", alt="")
                  header.major
                    h2 LINE
                  p LINE Corporation 總部位於日本。自2013年4月1日起，NHN Japan Corporation已將公司更名為「LINE Corporation」，並將負責「LINE」、「NAVER matome」及「livedoor」網頁服務業務的營運及供應。在2011年6月創立LINE的LINE Corporation，日後的業務核心將會著重於LINE服務上，除了會積極推動於全球各地進一步擴展服務，並會加快腳步發展LINE平台服務。
                .clearfix
            .col-xs-4
              .sponsor
                .col-xs-12
                  img.image.img-responsive.lazy(data-original="./dist/images/logo.png", alt="")
                  header.major
                    h2 LINE
                  p LINE Corporation 總部位於日本。自2013年4月1日起，NHN Japan Corporation已將公司更名為「LINE Corporation」，並將負責「LINE」、「NAVER matome」及「livedoor」網頁服務業務的營運及供應。在2011年6月創立LINE的LINE Corporation，日後的業務核心將會著重於LINE服務上，除了會積極推動於全球各地進一步擴展服務，並會加快腳步發展LINE平台服務。
                .clearfix
            .col-xs-4
              .sponsor
                .col-xs-12
                  img.image.img-responsive.lazy(data-original="./dist/images/logo.png", alt="")
                  header.major
                    h2 LINE
                  p LINE Corporation 總部位於日本。自2013年4月1日起，NHN Japan Corporation已將公司更名為「LINE Corporation」，並將負責「LINE」、「NAVER matome」及「livedoor」網頁服務業務的營運及供應。在2011年6月創立LINE的LINE Corporation，日後的業務核心將會著重於LINE服務上，除了會積極推動於全球各地進一步擴展服務，並會加快腳步發展LINE平台服務。
                .clearfix
            .col-xs-4
              .sponsor
                .col-xs-12
                  img.image.img-responsive.lazy(data-original="./dist/images/logo.png", alt="")
                  header.major
                    h2 LINE
                  p LINE Corporation 總部位於日本。自2013年4月1日起，NHN Japan Corporation已將公司更名為「LINE Corporation」，並將負責「LINE」、「NAVER matome」及「livedoor」網頁服務業務的營運及供應。在2011年6月創立LINE的LINE Corporation，日後的業務核心將會著重於LINE服務上，除了會積極推動於全球各地進一步擴展服務，並會加快腳步發展LINE平台服務。
                .clearfix

        //-     .col-xs-12
        //-       .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
        //-         a(href="#", target='_blank')
        //-           img(src="./dist/images/logo.png", alt="")
        //-     .col-xs-12.col-sm-6.col-md-4
        //-       .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
        //-         a(href="#", target='_blank')
        //-           img(src="./dist/images/logo.png", alt="")
        //-     .col-xs-12.col-sm-6.col-md-4
        //-       .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
        //-         a(href="#", target='_blank')
        //-           img(src="./dist/images/logo.png", alt="")
        //-     .col-xs-12.col-sm-6.col-md-4
        //-       .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
        //-         a(href="#", target='_blank')
        //-           img(src="./dist/images/logo.png", alt="")
        //-   
        //-   .part_2
        //-     .col-xs-12
        //-       .sponsor-title
        //-         h3 合作
        //-     .col-xs-12.col-sm-6.col-md-4
        //-       .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
        //-         a(href="#", target='_blank')
        //-           img(src="./dist/images/logo.png", alt="")
        //-     .col-xs-12.col-sm-6.col-md-4
        //-       .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
        //-         a(href="#", target='_blank')
        //-           img(src="./dist/images/logo.png", alt="")
        //-     .col-xs-12.col-sm-6.col-md-4
        //-       .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
        //-         a(href="#", target='_blank')
        //-           img(src="./dist/images/logo.png", alt="")
        //-   
        //-   .part_3
        //-     .col-xs-12
        //-       .sponsor-title
        //-         h3 特別感謝
        //-         
        //-     .col-xs-12.col-sm-6.col-md-3
        //-       .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
        //-         a(href="#", target='_blank')
        //-           img(src="./dist/images/logo.png", alt="")
        //-     .col-xs-12.col-sm-6.col-md-3
        //-       .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
        //-         a(href="#", target='_blank')
        //-           img(src="./dist/images/logo.png", alt="")
        //-     .col-xs-12.col-sm-6.col-md-3
        //-       .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
        //-         a(href="#", target='_blank')
        //-           img(src="./dist/images/logo.png", alt="")
        //-     .col-xs-12.col-sm-6.col-md-3
        //-       .logo(data-balloon-pos='down', data-balloon-length='fit', data-title='', data-balloon='')
        //-         a(href="#", target='_blank')
        //-           img(src="./dist/images/logo.png", alt="")
