extends ./layout/_layout.jade

block title
  title 工作人員｜JSDC 2016

block content

  include ./partials/_nav

  main.staff-page

    section#sub-header
      .container
        .inner
          header.major.text-center
            h2 JSDC 2016 工作人員

    section#staffs
      .container
      
        article
          .row
            .col-xs-12.text-center
              header.major
                h2 召集

            .col-xs-12.col-sm-6
              .speaker
                .avatar
                  img.lazy(data-original="./dist/images/amei.jpg", alt="amei")
                .introduction
                  h4.speaker-name Amei Chi
                  p.project 賣萌集團創辦人

            .col-xs-12.col-sm-6
              .speaker
                .avatar
                  img.lazy(data-original="./dist/images/amei.jpg", alt="amei")
                .introduction
                  h4.speaker-name Amei Chi
                  p.project 賣萌集團創辦人

        article
          .row
            .col-xs-12.text-center
              header.major
                h2 議程組

            .col-xs-12.col-sm-6.col-md-4
              .speaker
                .avatar
                  img.lazy(data-original="./dist/images/amei.jpg", alt="amei")
                .introduction
                  h4.speaker-name Amei Chi
                  p.project 賣萌集團創辦人

            .col-xs-12.col-sm-6.col-md-4
              .speaker
                .avatar
                  img.lazy(data-original="./dist/images/amei.jpg", alt="amei")
                .introduction
                  h4.speaker-name Amei Chi
                  p.project 賣萌集團創辦人

            .col-xs-12.col-sm-6.col-md-4
              .speaker
                .avatar
                  img.lazy(data-original="./dist/images/amei.jpg", alt="amei")
                .introduction
                  h4.speaker-name Amei Chi
                  p.project 賣萌集團創辦人

        article
          .row
            .col-xs-12.text-center
              header.major
                h2 網站組

            .col-xs-12.col-sm-6.col-md-4
              .speaker
                .avatar
                  img.lazy(data-original="./dist/images/amei.jpg", alt="amei")
                .introduction
                  h4.speaker-name Amei Chi
                  p.project 賣萌集團創辦人

            .col-xs-12.col-sm-6.col-md-4
              .speaker
                .avatar
                  img.lazy(data-original="./dist/images/amei.jpg", alt="amei")
                .introduction
                  h4.speaker-name Amei Chi
                  p.project 賣萌集團創辦人

            .col-xs-12.col-sm-6.col-md-4
              .speaker
                .avatar
                  img.lazy(data-original="./dist/images/amei.jpg", alt="amei")
                .introduction
                  h4.speaker-name Amei Chi
                  p.project 賣萌集團創辦人

        article
          .row
            .col-xs-12.text-center
              header.major
                h2 公關組

            .col-xs-12.col-sm-6.col-md-4
              .speaker
                .avatar
                  img.lazy(data-original="./dist/images/amei.jpg", alt="amei")
                .introduction
                  h4.speaker-name Amei Chi
                  p.project 賣萌集團創辦人

            .col-xs-12.col-sm-6.col-md-4
              .speaker
                .avatar
                  img.lazy(data-original="./dist/images/amei.jpg", alt="amei")
                .introduction
                  h4.speaker-name Amei Chi
                  p.project 賣萌集團創辦人

            .col-xs-12.col-sm-6.col-md-4
              .speaker
                .avatar
                  img.lazy(data-original="./dist/images/amei.jpg", alt="amei")
                .introduction
                  h4.speaker-name Amei Chi
                  p.project 賣萌集團創辦人

        article
          .row
            .col-xs-12.text-center
              header.major
                h2 場務組

            .col-xs-12.col-sm-6
              .speaker
                .avatar
                  img.lazy(data-original="./dist/images/amei.jpg", alt="amei")
                .introduction
                  h4.speaker-name Amei Chi
                  p.project 賣萌集團創辦人

            .col-xs-12.col-sm-6
              .speaker
                .avatar
                  img.lazy(data-original="./dist/images/amei.jpg", alt="amei")
                .introduction
                  h4.speaker-name Amei Chi
                  p.project 賣萌集團創辦人




    script.
      (function($) {
        
        $('#nav-staffMember').addClass('active');

        if ($('#staffs').length){
          $(document).scroll(function () {
            var dist = $('#staffs').offset().top;
            var y = $(this).scrollTop();

            if (y > dist) {
                $('.navbar').addClass('block');
            } else {
                $('.navbar').removeClass('block');
            }
          });
        }
      })(jQuery);