extends ./layout/_layout.jade

block title
  title 工作人員｜JSDC 2016

block content

  include ./partials/_nav

  main.agenda-page

    section#agenda-header
      .container
        .inner
          header.major.text-center
            h2 JSDC 2016 工作人員

    include ./partials/_staffs
