extends ./layout/_layout.jade

block title
  title 會場｜JSDC 2016

block content

  include ./partials/_nav

  main.agenda-page
  
    section#agenda-header
      .container
        .inner
          header.major.text-center
            h2 JSDC 2016 會場

    section#location
      .container
        .row
          .col-xs-12.col-sm-6.col-md-4
            .information
              header.major
                h2 JSDC 2016
              h3.info.date
                i.fa.fa-calendar
                | 2016 / 10 / 22 - 23 
              h3.info.spot
                i.fa.fa-map-marker
                | 中央研究院
              p.address
                | 台北市南港區研究院路二段128號
                br
                | 人文社會科學館 國際會議廳

          .col-xs-12.col-sm-6.col-md-8
            #map
              .mask-map
              iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.7913792829745!2d121.6118599!3d25.041153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ab46b2f9a81f%3A0x74112a66e7796ca!2zMTE16Ie65YyX5biC5Y2X5riv5Y2A56CU56m26Zmi6Lev5LqM5q615Lit5aSu56CU56m26Zmi5Lq65paH56S-5pyD56eR5a246aSo!5e0!3m2!1szh-TW!2stw!4v1462977726575" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen)
