footer#footer
  .container
    .row
      .col-xs-12
        #elevator-btn
          a(href="#")
            i.fa.fa-angle-up.fa-2x
            | Top
     
      .col-xs-12
        p.copyright.text-center © 2016 
          a(href="http://jsdc.tw" target="_blank") JSDC.tw