nav.navbar
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-mobile', aria-expanded='false')
        i.fa.fa-bars
        
      a.navbar-brand(href='./index.html')
        img.image.img-responsive.lazy(itemprop="image" data-original='./dist/images/jsdc-logo.png', alt='JSDC 2016')

    .collapse.navbar-collapse#navbar-mobile
      ul.nav.navbar-nav
        li
          a(href='./about.html') 關於
        li
          a(href='./venue.html') 會場
        li
          a(href='./speakers.html') 講者
        li
          a(href='./agenda.html') 議程
        li
          a(href='./sponsors.html') 贊助夥伴
        li
          a(href='./staffMember.html') 工作人員
        li
          a(href='http://blog.jsdc.tw/' target="_blank") 部落格
